@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Ubantu Mono", monospace;
}

.App {
  display: grid;
  justify-content: center;
  align-items: center;
}

.headerText {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerText > a {
  text-decoration: none;
}

.text_body {
  padding: 20px;
  /* text-decoration: overline; */
}

.App > img {
  width: 250px;
  height: 250px;
  border-radius: 100px;
  border-color: 10px solid black;
}

.socials-links {
  display: flex;
  margin-top: 2.4rem;
}

.social-link {
  font-weight: 600;
  font-size: 1.4rem;
}

.socials-links:not(:last-child) {
  margin-right: 2.4rem;
}

.buttons {
  padding: 20px;
}
